{% extends 'login_base.html.twig' %}

{% block title %}LOGIN{% endblock %}

{% block form %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="mb-md-5">
        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
        <p class="text-white-50 mb-5">Please enter your login and password!</p>

        <form action="{{ path('app_login') }}" method="post">
            <div class="form-outline form-white mb-4">
                <input class="form-control form-control-lg {{ last_username ? 'active' : '' }}" type="text" id="username" name="_username" value="{{ last_username }}">
                <label class="form-label" for="username">Email</label>
            </div>

            <div class="form-outline form-white mb-4">
                <input type="password" id="password" name="_password" class="form-control form-control-lg">
                <label class="form-label" for="password">Password</label>
            </div>

            <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
        </form>
    </div>

    <div>
        <p class="mb-0">Don't have an account? <a href="{{ path('app_register') }}" class="text-white-50 fw-bold">Sign Up</a></p>
    </div>

    <script>
        document.querySelectorAll('input').forEach( (el) =>  {
            el.classList.add('active');
        });
    </script>

{% endblock %}
