{% extends 'base.html.twig' %}

{% block title %}Dish index{% endblock %}

{% block body %}

    <h1 class="text-center text-uppercase">Produits</h1>

    <a class="btn btn-dark" href="{{ path('app_dish_new') }}">Create new</a>

    {% for key, value in categories %}
        <div class="category mt-4">
            <h2>{{ key }}</h2>
            <hr>
            <div class="row no-gutter">
                {% for dish in value %}
                    <div class="card bo-card">
                        <img src="{{ dish.image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ dish.name }}</h5>
                            <p class="card-text">{{ dish.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a class="edit-btn" href="{{ path('app_dish_edit', {'id': dish.id}) }}"><i class="fa-solid fa-pen pe-1"></i> edit</a>
                            <div class="delete-btn ms-auto" onclick="confirmDelete(this, 'le produit {{ dish.name }}')" data-form-id="dish-delete-{{ dish.id }}"><i class="fa-solid fa-trash pe-1"></i> Supprimer</div>
                            {{ include('dish/_delete_form.html.twig') }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
